@import url(reset.css);

body{
    font-size: 16px;
    color: #23272A;;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
h1{
    font-family: 'Luckiest Guy', cursive;
    font-weight: 400;
    font-size: 32px;
    line-height: 32px;

}
h2{
   font-weight: 800;
   font-size: 24px;
   line-height: 33px;
   margin: 1.75rem auto;
}

/* Header */
 header {
    background-image: url("../image/Header-Background-MB.png");
    background-size: cover;
    color: #FFFFFF;
    padding: 70px 24px;
    margin: auto;
    height: 60vh;
    width: 100%;
    
 }
 header p{
    margin: 2rem auto;
    text-justify: justify;
    font-weight: 400;
    line-height: 22px;
 }
 .download {
    text-decoration: none;
    display: block;
    padding: 20px;
    border-radius: 28px;
    text-align: center;
    margin-bottom: 15px;
    width: 100%;
 }
 #win {
    background: #FFFFFF;
    color:  #23272A;
 }
 #browser {
    background-color: #23272A;
    color: #fff;
 }

/* Main */
section{
   display: flex;
   flex-direction: column;
   justify-content: center;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   padding: 2rem;
   
}
#sct-04 img{
   order: 1;
}
#sct-04 h2{
   font-family: 'Luckiest Guy';
   font-style: normal;
   font-weight: 400;
   font-size: 32px;
   line-height: 32px;
}
/* Footer */
footer{
   background-color: #23272A;
   height: 15vh;
   display: flex;
   align-items: center;
   justify-content: center;
 }

 @media screen and (max-width:360px){
   header{
      height: 85vh;
   }
 }
 /* DESKTOP */


@media screen and (min-width:750px){

   h1{
      font-size: 56px;
      line-height: 56px;
      text-align: center;
      width: 20rem;
      margin: auto;

   }
   h2{
      font-weight: 800;
      margin: 1.75rem auto;
      font-size: 40px;
      line-height: 54px
   }
   
   /* Header */
   header {
      background-image: url("../image/Header-Background.png");
      background-size: cover;
      padding: 5rem 0px;
      margin: auto;
      height: 75vh;
   }
   header div{
      display: flex;
      flex-direction: column;
      align-items: center;
   }
   header p{
      /* margin: 2rem 16rem; */
      text-align: center;
      width: 60%;
      margin-bottom: 1.5rem;

   }

   #links{
      width: 80%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: auto;
   }

   .download {
      border-radius: 30px;
      line-height: 22px; 
      width: auto;  
   }

   #browser {
      margin-left: 1rem;
   }
   /* Main */
   section {
      display: flex;
      flex-direction: row;
      width: 80vw;
      margin: auto;
   }
   .text-content {
      margin: 1rem;
      width: 350px;
   }
   #sct-02 img {
      order:1;
   }
   #sct-02, #sct-04{
      background-color: #F6F6F6;
   }
   #sct-04 {
      display: flex;
      flex-direction: column;
      gap:1rem;
      width: 70vw;
   }
   #sct-04 h2{
      font-size: 40px;
      line-height: 40px;
      text-align: center;
      width: 50%;
   }
   #sct-04 p{
      line-height: 22px;
      text-align: center;
      margin: 0 2.5rem;
   }
   /* Footer */
   footer{
      height: 20vh;
   }
}