@import url('reset.css');
header{
    padding:1em;
}
header nav{
    display: grid;
    grid-template-columns: repeat(3, auto );
    align-items: center;
}

header nav #icons{
    justify-self: end;
}
header nav #search{
    justify-self: center;
    
}


.icon{
    padding-right: 1.2em;
}