@import url('reset.css');
/*

*/

body{
    font-size: 12px;
    margin-bottom: 150px;
    display: grid;
    grid-template-columns: 15rem 2fr;
    grid-template-rows: max-content 2fr;
    grid-auto-flow: column;
    grid-template-areas:
        "header header"
        "sidebar video";
    justify-content: space-between;
}

/* Alinhamento de texto com imagem 
*/
img, p {
    display: inline-block;
    vertical-align:bottom;
}

/* Header */

nav div {
    display: inline;
}
header{
    padding: .75rem 1.5rem 1.75rem;
    grid-area: header;
    
}
header nav {
    display: grid;
    grid-template-columns: repeat(3, auto );
    align-items: center;
}
header nav #icons{
    justify-self: end;
}
header nav #search{
    justify-self: center;
    align-self: stretch;
    
}
.icon{
    padding-right: 1.2em;
}
#search img {
    padding: 6px 10px;
    margin-left: -3px;
    background-color: #F8F8F8;
    border: 1px solid #CCCCCC
}
#search input{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    min-width: 15rem;
    min-height: 2.1rem;
}
#search input:focus {
    box-shadow: 0;
    outline: 0;
}
/* Sidebar */
aside{
    grid-area: sidebar;
    padding: 0 1.5rem;
    
}
aside article{
    margin-bottom: 0.85em;

}
aside article span {
    margin-left: 1rem;
}
/* Conteúdo principal */
section{
    padding: .15em 2.50em .50em .15em;
    grid-area: video;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(3, 240px);
    gap:30px;             
}

.video p{
    color:#515151;
}
.video article{
    margin-top: 1em;
    display: flex;
    align-items: flex-start;
}
.video article div{
    text-align: start;
    padding: .75em;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}
.video article div h2{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
}





