@import url(global.css);


body{
    background-color: var(--primary-color);
    color: var(--text-color)
}


.header{
    position: relative;
    margin-top: 50px;
    padding: 100px 0 300px;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
    animation: gradient 10s ease infinite alternate;
}
@keyframes gradient{
   0% {
      background-position: 0% 50%;
   }
   50%{
      background-position: 100% 50%;
   }
   100%{
      background-position: 0% 50%;
   }
}
header::after{
   content: "";
   width: 100%;
   height: 250px;
   background: linear-gradient(0deg,var(--primary-color), transparent);
   position: absolute;
   bottom: 0;
}
.header__content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:40px;
    padding:0 40px;
}

.header__channels{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.header__channel{
    object-fit: cover;
}
 .header__title {
    text-transform:uppercase;
    line-height: 45px;
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
 }
 .header__title--light {
    display: block;
    font-size: 2rem;
    font-weight: lighter;
 }

 .header__divider {
    width: 70%;
    max-width: 700px;
    height: 5px;
    background: var(--divider-bg-color);
 }

 .offer{
    text-align: center;
    font-size: 1.25rem;
    line-height: 2.3rem;
 }

 .offer__price {
    font-family: "Raleway", sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
 }
 .offer__price--small{
    font-size: 1rem;
    font-weight: 300;
 }

 
 .subscribe{
    text-align: center;
    display: inline-block;
 }
 .subscribe .text--small {
    max-width: 300px;
    line-height: 1.25rem;
 }

 .header__button {
   animation: wiggle 2.2s 1s linear infinite;
 }
 .header__button:hover{
   animation-play-state: paused;
 }
 
 @keyframes wiggle {
   0%,
   10% {
     transform: rotate(0deg);
   }
   15% {
     transform: rotate(-15deg);
   }
   20% {
     transform: rotate(10deg);
   }
   25% {
     transform: rotate(-10deg);
   }
   30% {
     transform: rotate(10deg);
   }
   35% {
     transform: rotate(-10deg);
   }
   40%,
   100% {
     transform: rotate(0deg);
   }
 }

 






